= render 'events/background'
.container
	#container.grey
		#money-message
			According to our calculations, you could GreenUp the 
			= @trip.carbon
			kg of carbon emitted during your travels by contributing
			#money-amount= Price.new(@money_amount).to_s
			towards green projects.
	
		.row
			.btn-group
				=link_to("Contribute toward planting trees", new_event_tree_path(@event, amount: @money_amount), class: "button small")
				=link_to("Create a personal green pledge", new_event_pledge_path(@event), class: "button small")
