<h1>Dear <%= @user.name %>,</h1>
<p>Thank you for using the Greenup Travel App to measure your carbon footprint!
	You donated <%= @tree.rand_given %> towards tree planting in southern Africa.
	Thank you for joining the Treevolution!</p>